/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  margin-bottom: 160px;
}

h1 {
  font-family: Castoro;
  font-size: 128px;
  font-weight: 400;
  line-height: 192px;
  letter-spacing: 0.12em;
  margin-top: 160px;
  margin-left: 312px;
}

.container img {
  width: 636px;
  height: 848px;
  margin-left: 642px;
}

h2 {
  font-family: Castoro;
  font-size: 128px;
  font-weight: 400;
  line-height: 192px;
  letter-spacing: 0.12em;
  margin-left: 972px;
}

.bgGray {
  background-color: #efefef;
  margin-bottom: 80px;
  height: 432px;
}

.bgGray p {
  font-family: Castoro;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  width: 636px;
  margin-left: 972px;
  padding: 48px;
}

.awards,
.work,
.education,
.vito {
  margin-left: 312px;
  margin-bottom: 40px;
  width: 636px;
}

h3 {
  color: #ae0000;
  border-bottom: 3px solid #ae0000;
  font-family: Castoro;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 16px;
}

ul li {
  font-family: Castoro;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-decoration: none;
  margin-bottom: 16px;
}

ul span {
  font-family: Castoro;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  color: #949494;
  padding-top: 16px;
}

footer {
  background-color: black;
  height: 192px;
  padding: 64px 0px;
  text-align: center;
}

footer img {
  width: 64px;
  height: 64px;
  margin: 64px 0;
  margin-left: 40px;
}
